*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
   
}
html a {
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}

/* Palette */

.blue-bg {
    background-color: #0084FD;
}

.blue-color {
    color: #0084FD;
}

.light-blue-bg {
    background-color: #B5DDFF;
}

.white-bg {
    background-color: white;
}
.p{
   margin-bottom: 20px;
}
.size{
    width: 323px;
}

/* General */

.button {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 5px 15px;
}
.container {
    width: 80%;
    margin: 0 auto;
    
}

/*HEADER*/
.height{
    min-height: 80px;
    display: flex;
    align-items: center;
}
.right-header {
    display: none;
}
.right-header ul {
    list-style-type: none;
}

.hamburger {
        display: none;
        font-size: 30px;
        color: white;
        padding: 0 15px;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
/*MAIN*/

.my-row{
    display: flex;
    flex-wrap: wrap;
}
.my-row > .my-col {
    width: 100%;
    
}
.my-row>.my-col-tablet-1-3 {
   width: calc(100% / 3);
}
.my-row>.my-col-tablet-2-3 {
    width: calc((100% / 3) * 2);
}
main > section {
    margin: 40px 0;
}

#intro .card{
    background-color: #B5DDFF;
    border-radius: 12px;
    padding: 10px;
    
}
.card-description > div {
    margin-top: 50px;
    margin-bottom: 50px;
    width: max-content;
}
.flex-property {
    display: flex;
    flex-wrap: wrap;
}
.card-image > img {
    width: 50%;
    
}
.button2{
    color: white;
    border-radius: 20px;
    padding: 8px 25px;
    background-color: #0084FD;
    margin-left: -3px;
    
    
}
.h3{
    margin-bottom: 15px;
    margin-top: 25px;
    color: #0084FD;
}